.projects {
  margin: 0 auto;
  width: 100%;
  padding: 40px 0;
  background: #3a3a3a;
}

.projects-title {
  font-size: 40px;
  font-weight: bold;
  margin: 0 auto;
}

.projects__container {
  margin: 0 auto;
  max-width: 800px;
}

.projects__item {
  margin: 40px 0 100px;
  box-sizing: content-box;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.projects__card {
  position: relative;
  width: 800px;
  height: 500px;
}

.projects__image {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.3s ease;
}

.projects__item:hover .projects__image {
  transform: scale(1.05);
  filter: blur(3px);
}

.projects__item:hover .projects__info {
  transform: translate(-100%);
}

.projects__info {
  position: absolute;
  width: 60%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  translate: 800px;
  transition: 0.3s ease;
  box-sizing: border-box;
  padding: 15px;
}

.projects__name {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}

.projects__description {
  font-size: 20px;
  text-align: left;
}
